*.o
*.lo
/tests/*.sh
/tests/*.exp
/tests/*.diff
/tests/*.log
/tests/*.php
/tests/*.out
/tests/*.mem
/run-tests.php
/modules
/missing
/.deps
*.dep
/.libs
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/acinclude.m4
/aclocal.m4
/autom4te.cache
/build
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.in
/configure.ac
/install-sh
/intl.la
/libtool
/mkinstalldirs
/ltmain.sh
/ltmain.sh.backup
/.cproject
/.project
/.settings
/pecl-rar.*
/rar.la
*.autosave
/unrar/.libs
/tmp-php.ini
/php-rar.creator.user
/compile_commands.json
/.clangd
