// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define RARDLL 1
#define HAVE_CONFIG_H 1
#define _Float32 float
#define _Float32x float
#define _Float64 double
#define _Float64x double
#define _Float128 long double
#define _Float128x long double
#define _BITS_FLOATN_H
